* {
    font-family:'Times New Roman', Times, serif;
}
.header {
    position:sticky;
    top:0;
    padding: 15px 400px;
    background-color:cadetblue;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
body{
    background-color:cadetblue;
    color:white;
}
h1 {
    font-size: 55px;
    margin: 0;
    margin-top: 60px;
    align-items:center;
}
h2{
    color: beige;
    font-style:italic;
    font-weight:500;
    text-decoration:underline;
}
h4{
    color: beige;
}
img{
    width: 400px;
    border-radius: 20px;
}
a {
    font-size: 18px;
    color: beige;
}
button{
    background-color: beige;
    color:cadetblue;
    font-size: 18px;
}
p {
    font-size: 20px;
    color:pink;
}
marquee{
    size: 100%;
}
table{
    font-family:'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: 1px solid aliceblue;
    padding: 8px;
}
tr:nth-child(even){
    background-color: #f2f2f2;
    color:black;
}
tr:hover{
    background-color:aliceblue;
    color:black;
}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:cadetblue;
    color:white;
}